.dropdown-button {
    button {
        height: 30px;
        background-color: inherit;
        color: black;
        font-size: 12px;
        border: 1px solid #f3f3f3;
        border-radius: 5px 0px 0px 5px;
         div {
            display: flex;
            gap: 3px;
            align-items: center;
        }
        &:hover {
            @extend button;
        }
    }
    button::after {
        display: none;
    }
    border: none;
}